* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::selection {
    background-color: var(--selection);
  }
}

:root {
  --darkBlue: rgb(3, 27, 48);
  --darkBlue: rgb(3, 36, 65);
  --darkerBlue: rgb(3, 44, 80);
  --normalBlue: rgb(4, 52, 95);
  --buttons: rgb(60, 42, 218);
  --lightestBlue: rgb(13, 107, 230);
  --ligherAqua: rgb(47, 149, 238);
  --active: rgb(60, 42, 218);
  --main-color: rgb(32, 8, 139);
  --selection: rgb(60, 42, 218);
  --section: #4c1c84;
  --hover: rgb(70, 4, 224);
  --text: rgb(120, 139, 155);
  --white-color: #ffffff;
  --darkmode: rgb(9, 2, 49);
  --gray-lines: rgba(73, 73, 73, 0.158);
  --gray: rgba(110, 110, 110, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background: #fff;
  text-transform: capitalize;
}

img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1440px;
  margin: auto;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.button {
  width: 150px;
  height: 45px;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  transition: 0.5s;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &:active {
    background-color: var(--active);
  }
}

/*-------------------media query screen sizes------------------*/

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1201px;
  }
}
@media screen and (max-width: 1201px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 901px;
  }
}
@media screen and (max-width: 901px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
}
