/*-------------------media query responsive design------------------*/

@media (max-width: 1440px) {
  .home-main-container {
    .center-lf {
      .title {
        // color: red;
        font-size: 45px;
        line-height: 55px;
      }
    }
    .center-rt {
      img {
        width: 450px;
      }
    }
  }
}

@media (max-width: 1201px) {
  .home-main-container {
    .center-lf {
      padding: 0 20px;

      .title {
        font-size: 40px;
        line-height: 50px;
      }
      .home_info {
        row-gap: 15px;
        .home_info_text {
          font-size: 18px;
        }
        .courses-btn {
          width: 215px;
          height: 41px;
          a {
            font-size: 18px;
          }
        }
      }
    }
    .center-rt {
      img {
        width: 350px;
      }
      padding: 0 20px;
    }
  }
}

@media (max-width: 1024px) {
  .home-main-container {
    .center-lf {
      padding: 0 10px;

      .title {
        font-size: 35px;
        line-height: 36px;
      }

      .home_info {
        row-gap: 15px;
        .home_info_text {
          font-size: 16px;
        }
        .courses-btn {
          width: 190px;
          height: 34px;
          a {
            font-size: 16px;
          }
        }
      }
    }
    .center-rt {
      img {
        width: 335px;
      }
      padding: 0 10px;
    }
  }
}

@media (max-width: 901px) {
  .home-main-container {
    .center-lf {
      padding: 0 10px;

      .title {
        font-size: 30px;
        line-height: 32px;
      }

      .home_info {
        row-gap: 12px;
        .home_info_text {
          font-size: 16px;
        }
        .courses-btn {
          width: 190px;
          height: 34px;
          a {
            font-size: 16px;
          }
        }
      }
    }
    .center-rt {
      img {
        width: 290px;
      }
      padding: 0 15px;
    }
  }
}
@media (max-width: 768px) {
  .home-main-container {
    flex-direction: column;
    margin-top: 85px;

    .center-lf {
      padding: 0 20px;

      .title {
        font-size: 40px;
        line-height: 40px;
      }

      .home_info {
        row-gap: 12px;
        .home_info_text {
          font-size: 16px;
        }
        .courses-btn {
          width: 190px;
          height: 34px;
          a {
            font-size: 16px;
          }
        }
      }
    }
    .center-rt {
      img {
        width: 400px;
      }
      padding: 0 20px;
      margin: 55px 0;
    }
  }
}
@media (max-width: 512px) {
  .home-main-container {
    margin-top: 70px;
    .center-lf {
      padding: 0 15px;
      .title {
        font-size: 33px;
        line-height: 33px;
      }
    }
    .center-rt {
      padding: 5px;
      margin-top: 45px;
      img {
        width: 350px;
      }
    }
  }
}
@media (max-width: 420px) {
  .home-main-container {
    .center-lf {
      gap: 5px;
      padding: 0 13px;
      .title {
        font-size: 30px;
        line-height: 29px;
      }
      .home_info {
        .home_info_text {
          font-size: 14px;
          font-weight: 500;
        }
        .courses-btn {
          width: 170px;
          height: 33px;
          a {
            font-size: 14px;
          }
        }
      }
    }
    .center-rt {
      padding: 5px;
      margin-top: 30px;
      img {
        width: 330px;
      }
    }
  }
}
@media (max-width: 380px) {
  .home-main-container {
    .center-lf {
      padding: 0 5px;
      .title {
        font-size: 25px;
        line-height: 29px;
        display: inline;
      }
    }
    .center-rt {
      img {
        width: 300px;
      }
    }
  }
}
