.home-main-container {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: royalblue;
  // background-color: red;

  .center-lf {
    animation-duration: 1s;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .home_info {
      display: grid;
      row-gap: 25px;
      .home_info_text {
        font-size: 22px;
        font-family: Lato, sans-serif;
        color: var(--text);
        text-transform: none;
        font-weight: 600;
      }
      .courses-btn {
        width: 155px;
        height: 38px;
        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
        }
      }
    }
    .title {
      text-transform: uppercase;
      line-height: 63px;
      font-size: 56px;
      font-weight: 600;
      p {
        overflow: hidden;
      }
      span {
        color: var(--main-color);
      }
      .auto-changing-text {
        display: inline-block;
        display: none;
      }

      span.fade-in {
        display: block;
        animation: changingText 5.5s ease;
      }
      @keyframes changingText {
        0% {
          transform: translateY(-100%);
          opacity: 0.1;
        }
        50% {
          transform: translateY(0);
          opacity: 1;
        }
        25% {
          transform: translateY(0);
          opacity: 1;
        }
        75% {
          transform: translateY(90%);
          opacity: 0.5;
        }
        100% {
          transform: translateY(100%);
          opacity: 0.2;
        }
      }
    }

    .title::after {
      content: "...";
    }
  }

  .center-rt {
    animation-duration: 0.8s;
    cursor: pointer;
    padding: 0 35px;
    width: 550px;
  }
}

@media (max-width: 1440px) {
  .home-main-container {
    .center-lf {
      .title {
        // color: red;
        font-size: 45px;
        line-height: 55px;
      }
    }
    .center-rt {
      width: 450px;
    }
  }
}
@media (max-width: 1201px) {
  .home-main-container {
    .center-lf {
      padding: 0 20px;
      background-color: red;
      .title {
        font-size: 40px;
        line-height: 50px;
      }
    }
    .center-rt {
      width: 350px;
      padding: 0 20px;
      background-color: rgb(0, 255, 106);
    }
  }
}
