.head {
  max-width: 100%;
  height: 100px;

  .header {
    max-width: 1312px;
    height: 100%;
    margin: auto;
    // background-color: rebeccapurple;
    display: flex;
    justify-content: space-between;
    .head-rt {
      display: flex;
      align-items: center;
      padding: 0px 35px;

      .logo {
        img {
          cursor: pointer;
          width: 180px;
          height: 42px;
        }
      }
    }

    .head-lf {
      display: flex;
      gap: 50px;
      align-items: center;
      margin: 20px;

      padding: 0px 35px;
      .link-to-courses {
        text-align: center;
        font-size: 18px;
        color: black;
        font-weight: 500;
        display: inline-block;

        &:hover {
          color: rgb(3, 23, 134);
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #0757cf;
          margin: auto;
        }
        &:hover::after {
          content: "";
          width: 100%;
          transition: width 0.2s linear;
        }
      }

      .login {
        width: 128px;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #fff;
        border-radius: 50px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .login-icon {
          font-size: 22px;
          margin-top: 7px;
        }
      }
    }
  }
}
