.head {
  max-width: 100%;
  height: auto;

  .header {
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    .head-lf {
      display: flex;
      align-items: center;

      .logo {
        // width: 200px;
        // height: 50px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // border-radius: 15px;
        // transition: .2s ease;
        img {
          cursor: pointer;
          width: 180px;
          height: 42px;
        }

        // &:hover {
        //   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        // }
      }
    }

    .head-rt {
      display: flex;
      gap: 50px;
      align-items: center;

      a {
        text-align: center;
        font-size: 18px;
        color: black;
        font-weight: 500;
        display: inline-block;

        &:hover {
          color: rgb(3, 23, 134);
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #0757cf;
          margin: auto;
        }
        &:hover::after {
          content: "";
          width: 100%;
          transition: width 0.2s linear;
        }
      }

      .login {
        width: 126px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background-color: #fff;
        border-radius: 50px;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .login-icon {
          font-size: 22px;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (max-width: 1310px) {
}
